@import './variables/colors.scss';
@import './fonts.scss';
@import './base.scss';

body {
    display: flex;
    line-height: 1;
    background-color: $color-white;
    color: $color-black;
    overflow-x: hidden;
    font-family: 'Titillium Web', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body main {
    width: 100%;
}

.PageTitle,
#crypto-data {
    font-size: 1rem;
    font-weight: bold;
}

#crypto-data {
    transition: color .2s ease;

    &.up {
        color: teal;
    }

    &.down {
        color: crimson;
    }
}

@import './components/Cover.scss';
@import './components/Button.scss';
@import './components/Link.scss';
@import './components/CenterView.scss';
@import './components/Row.scss';
@import './components/PageHeader.scss';
@import './components/Field.scss';
@import './components/Input.scss';
@import './components/Form.scss';
@import './components/Table.scss';

.PageSubTitle {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2em;
}

.BlockList__item + .BlockList__item {
    margin-left: 1em;
}

.Column {
    display: flex;
    flex-direction: column;

    &--horizontal-center {
        align-items: center;
    }
}