@import '../variables/colors.scss';

.Cover {
    background-color: teal;
    color: #FFFFFF;

    .PageTitle {
        text-align: center;
        font-size: 2em;
        margin-top: 1%;
    }

    .CoverView {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__title {
            font-size: 2em;
            text-align: center;
            margin-bottom: .5em;
        }

        &__field {
            & + .CoverView__field {
                margin-top: 1em;
            }
        }

        &__label-text {
            display: block;
            margin-bottom: .5em;
        }

        .Button {
            margin-top: 2em;
            width: 100%;
        }

        .Link {
            margin-top: 1em;
            text-align: center;
            width: 100%;
        }
    }
}