.Field {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__title {
        flex: 2;
        font-weight: bold;
    }

    &__content {
        margin-left: 1em;
        flex: 4;
    }

    & + .Field {
        margin-top: 1em;
    }

    &--is-column {
        flex-direction: column;
        align-items: flex-start;

        .Field__content {
            margin-left: 0;
            margin-top: .5em;
        }
    }
}