.Field {
    &__title {
        display: block;
        font-weight: bold;
    }

    &__content {
        margin-top: 1em;
        display: block;
    }

    & + .Field {
        margin-top: 2em;
    }
}