@import '../variables/colors.scss';

.Input {
    -webkit-appearance: none;
    appearance: none;
    min-width: 30em;
    width: 100%;
    padding: .5em 1em;
    color: $color-black;
    border: 1px solid $color-black;
    background-color: $color-white;
    border-radius: 2px;
    font-size: 1em;

    &--small {
        width: 6em;
        min-width: initial;
    }

    &--underline {
        border: none;
        padding: .5em;
        border-radius: 0;
        border-bottom: 2px solid $color-black;
    }
}