@import '../variables/colors.scss';

.Input {
    -webkit-appearance: none;
    appearance: none;
    min-width: 30em;
    padding: 1em 2em;
    background-color: $color-white;
    border-radius: 2px;
}