@import '../variables/colors.scss';

.PageHeader {
    width: 100%;
    padding: 2em;
    background-color: $color-brand;

    &__nav {
        justify-content: space-between;
        position: relative;
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__logout {
        padding: .5em;
        border: 0;
    }
}