@import '../variables/colors.scss';

.PageHeader {
    width: 100%;
    padding: 2em;
    background-color: $color-brand;

    &__nav {
        justify-content: space-between;
    }

    &__logout {
        padding: .5em;
        border: 0;
    }
}