@import '../variables/colors.scss';

.PageHeader {
    width: 100%;
    padding: 2em;
    background-color: $color-brand;

    &__nav {
        justify-content: space-between;
        position: relative;
    }

    &__icon {
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        transform-origin: 50% 50%;
    }

    &__logout {
        padding: .5em;
        border: 0;
    }
}