.Row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Row--wrap {
    flex-wrap: wrap;
}

.ActionRow {
    justify-content: center;
    min-width: 80vw;
}

.ActionRow__item + .ActionRow__item {
    margin-left: 1em;
}