@import '../variables/colors.scss';

.Table {
    table-layout: auto;
    width: 90vw;
    border-collapse: collapse;

    &__cell,
    &__heading {
        padding: 1em .5em;
        text-align: left;
        text-overflow: ellipsis;
    }

    &__row {
        border: 1px solid $color-black;
    }

    &__cell {
        text-transform: capitalize;
    }
}