<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../css/index.css">
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <nav class="PageHeader__nav Row">
                    <a href="/" class="PageHeader__home-link">
                        <h1 class="PageTitle">CryptoBetting (with friends)</h1>
                    </a>
                </nav>
            </header>
            <section class="CenterView">
                <form action="#" class="Form">
                    <fieldset>
                        <legend class="PageSubTitle">Create a group</legend>
                        <label class="Field">
                            <span class="Field__title">
                                Group name
                            </span>
                            <div class="Field__content">
                                <input
                                    type="text"
                                    name="groupName"
                                    required="required"
                                    placeholder="My awesome group"
                                    class="Input Field__input"
                                >
                            </div>
                        </label>

                        <div class="Field">
                            <span class="Field__title">
                                Group currency
                            </span>
                            <div class="Field__content">
                                <select name="groupCurrency" required="required" class="Input Field__input">
                                    <option value="" disabled selected>
                                        Select a currency
                                    </option>
                                    <% cryptoCurrencies.forEach(cryptoCurrency => { %>
                                        <option value="<%= cryptoCurrency._id %>">
                                            <%= cryptoCurrency.name %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="Button Button--action Form__submit-button">
                            Create group
                        </button>
                    </fieldset>
                </form>
            </section>
        </main>
    </body>
</html>