<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../css/index.css">
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <nav class="PageHeader__nav Row">
                    <a href="/" class="PageHeader__home-link">
                        <h1 class="PageTitle">CryptoBetting (with friends)</h1>
                    </a>
                </nav>
            </header>
            <section class="CenterView">
                <h2 class="PageSubTitle">Welcome <..UserName..></h2>
                <ul class="Row Row--wrap ActionRow">
                    <li>
                        <a href="/groups/join" class="Button Button--block">
                            Join a group
                        </a>
                    </li>
                    <li>
                        <a href="/groups/overview" class="Button Button--block">
                            View joined groups
                        </a>
                    </li>
                    <li>
                        <a href="/groups/create" class="Button Button--block">
                            Create a group
                        </a>
                    </li>
                </ul>
            </section>
        </main>
    </body>
</html>