<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../css/index.css">
    </head>
    <body>
        <main>
            <h1>Real time web</h1>
        </main>
        <script src="../../../../scripts/index.js"></script>
    </body>
</html>