<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../css/index.css">
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <nav class="PageHeader__nav Row">
                    <a href="/" class="PageHeader__home-link">
                        <h1 class="PageTitle">CryptoBetting (with friends)</h1>
                    </a>
                </nav>
            </header>
            <div id="crypto-data"></div>
            <div id="chart"></div>
        </main>
        <script src="../../../../scripts/index.js"></script>
    </body>
</html>