<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../css/index.css">
    </head>
    <body>
        <main class="Cover">
            <h1 class="PageTitle">CryptoBetting (with friends)</h1>
            <form action="/login" class="CoverView" enctype="application/x-www-form-urlencoded" method="POST">
                <fieldset>
                    <legend class="CoverView__title">Log in</legend>
                    <label class="CoverView__field">
                        <span class="CoverView__label-text">Email</span>
                        <input
                            type="email"
                            name="email"
                            class="Input"
                            placeholder="Enter your email"
                        >
                    </label>
                    <label class="CoverView__field">
                        <span class="CoverView__label-text">Password</span>
                        <input
                            type="password"
                            name="password"
                            class="Input"
                            placeholder="Enter your password"
                        >
                    </label>
                    <button type="submit" class="Button Button--action">Log in</button>
                    <a href="/signup" class="Link">Don't have an account? Sign up here</a>
                </fieldset>
            </form>
        </main>
        <% include ../partials/errorScript %>
    </body>
</html>