<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../css/index.css">
    </head>
    <body>
        <main class="Cover">
            <h1 class="PageTitle">CryptoBetting (with friends)</h1>
            <form action="#" class="CoverView">
                <fieldset>
                    <legend class="CoverView__title">Log in</legend>
                    <label class="CoverView__field">
                        <span class="CoverView__label-text">Email</span>
                        <input
                            type="email"
                            name="email"
                            class="CoverView__input"
                            placeholder="Enter your email"
                        >
                    </label>
                    <label class="CoverView__field">
                        <span class="CoverView__label-text">Password</span>
                        <input
                            type="password"
                            name="password"
                            class="CoverView__input"
                            placeholder="Enter your password"
                        >
                    </label>
                    <button type="submit" class="Button Button--grow Button--action">Log in</button>
                </fieldset>
            </form>
        </main>
        <script src="../../../../scripts/index.js"></script>
    </body>
</html>