<header class="PageHeader">
    <nav class="PageHeader__nav Row">
        <a href="/" class="PageHeader__home-link">
            <h1 class="PageTitle">
                CryptoBetting (with friends)
            </h1>
        </a>
    </nav>
</header>